/* 폰트를 불러오고, 관련 변수를 관리합니다. */
:root {
  --font-regular: 400;
  --font-bold: 700;

  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 16px;

  --letter-spacing: 0.5px;
  --line-height: 24px;
}

@font-face {
  font-family: "NotoSerifKR";
  src: url("../assets/font/NotoSerifKR-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
