/* WishListItem */
.wish-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 0 20px;
  background-color: var(--color-card);
  border-radius: 15px;
}

.wish-list-item__title {
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
